<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <appProcessName>node.exe</appProcessName>
        <appProcessArgs>test/index.js</appProcessArgs>
        <appProcessEnv>NODE_ENV=testing</appProcessEnv>
        <appProcessPort>3000</appProcessPort>
    </appSettings>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="524288000" /> <!--500MB-->
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
